body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px;
}

.container-fluid {
    border: 2px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    background-color: #f9f9f9;
}

label, select, textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}

button {
    font-size: 16px;
    transition: background-color 0.3s; /* Added transition for hover effect */
}

button:hover {
    background-color: #45a049;
}

#workoutSavedMessage {
    color: green;
    font-size: 14px;
}

.hidden {
    display: none;
}

#logoutButton.hidden {
    display: none;
}

#loggedInBar {
    margin-top: 20px;
}

#loggedInBar p {
    display: inline-block;
    margin-right: 10px;
}

/* Hover effect for tabs */
.nav-item:hover {
    background-color: #f8f9fa;
}

/* Active tab */
.nav-item.active {
    background-color: #fff;
}

/* Click effect for tabs */
.nav-item.active:focus {
    background-color: #fff;
    box-shadow: none;
}
